.item-list__container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.item-list__main {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 65rem;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-color: rgba(6, 49, 18, 0.523);
}