.item-list__container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.item-list__main {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 68rem;
    height: 88.5vh;
}