.App-header__nav-container {
    position: absolute;
    width: 60rem;
    align-self: center;
    border-radius: 4px;
    top: 7rem;
    display: flex;
    /* box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2); */
}
.App-header__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    align-items: center;
}


#basic-button{
    font-family: 'Roboto' !important;
    text-decoration: none;
    font-size: 1rem;
    padding: 0px;
    color:rgb(74, 158, 70);
    text-transform: none;
    background-color: transparent;
    line-height: 1.5;
}
#basic-menu{
    font-family: 'Roboto' !important;
    text-decoration: none;
    font-size: 1rem;
    padding: 0px;
    color:rgb(74, 158, 70);
}

.nav__titles {
    font-family:'Gongcerrat';
    font-weight: 400;
    text-decoration: none;
    font-size: 1rem;
    padding: 0px;
    color:rgb(81, 86, 72);
    text-transform: none;
    letter-spacing: 1px !important;
    line-height: 1.5;
}
.nav__titles:hover {
    color:rgb(74, 158, 70);
    animation: hoverlinks 200ms ease-in;
}

.cart-widget__container {
    display: flex;
    align-content: center;
    align-items: center;
    
}
.cart-widget__counter > h2 {
    font-size: 1.2rem;
}

@keyframes hoverlinks {
    from { color:rgb(81, 86, 72);}
    to { color: rgb(74, 158, 70);}
}

