* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:rgb(74, 158, 70);
  font-size: 16px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  overflow: auto;
}

body {
  min-height:100vh;  
  max-height: 100vh;
  box-sizing: border-box;
  background-color:rgb(184, 187, 184);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#root {
  min-height:100vh;  
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  gap:2px;
}
a {
  text-decoration: none;
}


@font-face {
  font-family: 'ViceCity';
  src: url('./fonts/ViceCitySans.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Gongcerrat';
  src: url('./fonts/Gontserrat-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
/* Fonts 
@font-face {
  font-family: 'Retroica';
  src: url('./fonts/Retroica.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Garet-Heavy';
  src: url('./fonts/Garet-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TangoSans';
  src: url('./fonts/TangoSans.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
*/