.item-count__container {
    display: flex;
    flex-direction: column;
    width: 8rem;

}
.item-count__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
}

.item-count__add-container {
    display: flex;
    justify-content: center;
}

.item-count__btn, .item-count__btn-add {
    border-style: none;
    border-width: 0px;
}
